
<div class="modal fade" id="modalAguarde" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">              
                <center>
                    <img src="~/img/tittleTransp.png" class="img-modal-tittle"/>
                </center>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <center>                            
                            <img src="~/img/loadBlue.gif" class="img-modal-body">
                            <h3><strong>Aguarde...</strong></h3>
                        </center>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
