
@{
    ViewBag.Title = "App";
    Layout = "~/Areas/Cadastro/Views/Shared/_CadastroLayout.cshtml";
}
<h2>App</h2>

<a class="btn btn-primary btn-xs">Transferência</a>
<a class="btn btn-primary btn-xs">Transferência/Consumo</a>
<a class="btn btn-primary btn-xs">Devolução Transf.</a>
<a class="btn btn-primary btn-xs">Teste1</a>


