<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Rafitec - Portal Web.">
    <meta name="robots" content="ALL">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Rafitec Solução em Embalagens">
    <meta property="og:url" content="http://www.rafitec.com.br/">
    <meta property="og:title" content="Rafitec Solução em Embalagen">
    <meta property="og:description" content="">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/img/tittle32.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600,700" rel="stylesheet" type="text/css" />
    
    <link href="~/Content/portal-style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/portalStyle.js"></script>
    <script type="text/javascript" src="~/Scripts/submit.js"></script>
    <script type="text/javascript" src="~/Scripts/mascara.js"></script>

    <title>@ViewBag.Titulo</title>
</head>
<body id="relatorioBobyFiltro">

    @Html.Partial("_PartialMenuRelatorio")
 
</body>
</html>
