
<div id="nav-principal" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/Home/Index">
            <i>
                <img src="~/img/logo.png" style="width:100px;" />
            </i>
        </a>
    </div>
</div>