@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/area/cadastro.js"></script>
<div class="portal-box">
    @RenderBody()
   @* @Html.Partial("_ModalAguarde", new { Area = "" })*@

</div>


